html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Courier New', 'Helvetica Neue', 'Arial', sans-serif;

    color: rgb(137, 0, 0);

	background: #1e1e1e; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e1e1e 0%, #0f0f0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e1e), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e1e1e 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e1e1e 0%,#0f0f0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e1e1e 0%,#0f0f0f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e1e1e 0%,#0f0f0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
}